<h1><%= @site.title %></h1>

<%= link_to 'edit', edit_site_path(@site) %> | 
<%= link_to 'destroy', site_path(@site), method: :delete, data: {confirm: 'really'} %> |
<%= link_to 'new page', new_site_page_path(@site) %> |
<%= link_to 'mobile site', site_pages_path(@site) %>